<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datalake Management System</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='Images/home_first.jpg')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/assist.css')}}" >
</head>
<body>
    <div class="header">
        <nav>
            <ul>
                <li><a href="home.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a class="assist" href="#">ASSIST</a></li>
            </ul>
        </nav>
    </div>



    <div class="content">
     
        <div class="text">
            <h2>ASSIST</h2>
            <h1> </h1>
          
        </div>
    </div>



    <div class="image-container">
        <img src="{{url_for('static',filename='Images/tech_assist.png')}}" alt="Image 1">
        <div class="image-content">
          <h2>TECH ASSIST</h2>
          <button class="my_button"><a href="tech_assist.html">TECH ASSIST</a></button>
        </div>
      </div>
    
      <div class="image-container">
        <img src="{{url_for('static',filename='Images/biz_assist.png')}}" alt="Image 1">
        <div class="image-content">
          <h2>BIZ ASSIST</h2>
          <button class="my_button"><a href="biz_assist.html">BIZ ASSIST</a></button>
        </div>
      </div>
    
      <div class="image-container">
        <img src="{{url_for('static',filename='Images/kpif_assist.png')}}" alt="Image 1">
        <div class="image-content">
          <h2>KPIF ASSIST</h2>
          <button class="my_button"><a href="kpif_assist.html">KPIF ASSIST</a></button>
        </div>
      </div>
    
</body>
</html>