<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datalake Management System</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='Images/home_first.jpg')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}" >
</head>
<body>
    <div class="header">
        <nav>
            <ul>
                <li><a class="active" href="#">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="assist.html">ASSIST</a></li>
            </ul>
        </nav>
    </div>


    <div class="content">
        <div class="image">
            <img src="{{url_for('static',filename='Images/home.png')}}" alt="My Image">
        </div>
        
    </div>

    <div class="container">
        <h1>DATALAKE INFORMATION SYSTEM</h1>
    </div>

    <div class="para">
        <p>
            A Data Lake Information System is a software platform or framework designed to efficiently store, 
            organize information of the data stored in a data lake. It is a centralized location that allows you to analyse data 
            and give knowledge of the data stored across lake. We have provided three types of assistances which will be helpful 
            for technical team to know the properties of the tables files etc. to take decisions and for business team to check the 
            data present in table and decide the table usage and lastly client specific module to help understand the dependent tables, 
            path and other information.
        </p>
    </div>
    
</body>
</html>