<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datalake Management System</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='Images/home_first.jpg')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/kpif_assist.css')}}" >
</head>
<body>
    <div class="header">
        <nav>
            <ul>
                <li><a href="home.html">HOME</a></li>
                <li><a class="biz_assist">BIZ ASSIST</a></li>
                <li><a href="assist.html">BACK</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <div class="image">
            <img src="{{url_for('static',filename='Images/kpif_assist.png')}}" alt="My Image">
        </div>
        
    </div>


    <div class="container">
        <h1>KPIF ASSIST</h1>
    </div>

    <div class="col">
        <form method="POST" class="feature_search" action="" > 
          
          <input class="box"  type="text"  placeholder="ENTER KPI NAME" name="DIM_ACCOUNT" />
          <br> <br>
          <div class="button">
            <button class="search_button" type="submit">Search</button>
          </div>
        </form>
    </div>
    
    <div class="list1">
        <ul class="list">
            {% for search in searchDetails %}
                
                <li>KPI KEY : {{search[0]}}</li>
                <br>
                <li>GROUP : {{search[1]}}</li>
                <br>
                <li>KPI NAME : {{search[2]}}</li>
                <br>
                <li>SOURCE PATH L1 : {{search[3]}}</li>
                <br>
                <li>DATALAKE PATH : {{search[4]}}</li>
                <br>
                <li>SOURCE TABLE NAME L1 : {{search[5]}}</li>
                <br>
                <li>PARENT KPI NAME : {{search[6]}}</li>
                <br>
                <li>CURATED PATH LEVEL 0  : {{search[7]}}</li>
                <br>
                <li>CURATED TABLE LEVEL 0  : {{search[8]}}</li>
                
            {% endfor %}
        </ul>
    </div>

    <div clas="list2">
      
        
    </div>



</body>
</html>